<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <nav class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#principal" role="tab" aria-controls="home" aria-expanded="true">
            Dados Principais
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#address" role="tab" aria-controls="profile" aria-expanded="false">
            Endereço
          </a>
        </nav>
      </div>
      {{#form-validate model=model save='save'}}
        <div class="card-body tab-content">
          <div class="tab-pane " id="principal" role="tabpanel" aria-labelledby="nav-home-tab" aria-expanded="true">
            <div class="row">
              <div class="col-12">
                <blockquote class="blockquote">
                  <p class="mb-0">Dados Principais</p>
                  <small class="text-muted">Principais informações do membro em questão</small>
                </blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label for="name">Nome Completo</label>
                  {{input type="text" id="name" class="form-control" value=model.name required=true autofocus=true placeholder="Nome Completo"}}
                  <div class="invalid-feedback">
                    Informe o Nome.
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Idade</label>
                  {{input type="number" class="form-control" value=model.age placeholder="Idade"}}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Gênero</label>
                  {{#input-select selected=model.gender}}
                    <option disabled selected>Gênero</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                  {{/input-select}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Celular</label>
                  {{one-way-input-mask model.phone mask="(99) 9 9999-9999" update=(action (mut model.celPhone)) class="form-control" placeholder="Celular"}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Telefone</label>
                  {{one-way-input-mask model.phone mask="(99) 9999-9999" update=(action (mut model.phone)) class="form-control" placeholder="Telefone"}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>E-mail</label>
                  {{input type="email" class="form-control" value=model.email placeholder="E-mail"}}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="address" role="tabpanel" aria-labelledby="nav-home-tab" aria-expanded="true">
            <div class="row">
              <div class="col-12">
                <blockquote class="blockquote">
                  <p class="mb-0">Endereço</p>
                  <small class="text-muted">Endereços do membro em questão</small>
                </blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label>CEP</label>
                  {{input-cep
                    value=model.cep
                    address=model.address
                    neighborhood=model.neighborhood
                    city=model.city
                    state=model.state
                  }}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Endereço</label>
                  {{input type="text" value=model.address class="form-control" placeholder="Endereço"}}
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <label>Número</label>
                  {{input type="number" value=model.number class="form-control" placeholder="Número"}}
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Bairro</label>
                  {{input type="text" value=model.neighborhood class="form-control" placeholder="Bairro"}}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Cidade</label>
                  {{input type="text" value=model.city class="form-control" placeholder="Cidade"}}
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <label>Estado</label>
                  {{input type="text" value=model.state class="form-control" placeholder="Estado"}}
                </div>
              </div>
            </div>
          </div>
          <div class="pull-right mb-10">
            {{#link-to 'user' class="btn btn-light"}}
              <i class="fa fa-arrow-left"></i> Voltar
            {{/link-to}}
            <button class="btn btn-primary" type="button" name="button">
              <i class="fa fa-save"></i> Salvar
            </button>
          </div>
        </div>
      {{/form-validate}}
    </div>
  </div>
</div>
