<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {{#link-to 'home'}}
        Início
      {{/link-to}}
    </li>
    <li class="breadcrumb-item active" aria-current="page">Membros</li>
  </ol>
</nav>
<div class="row">
  <div class="col-lg-9 col-md-8">
    <h2>Membros</h2>
    <p>Lista de todos os membros da sua igreja.</p>
  </div>
  <div class="col-lg-3 col-md-4 text-center">
    <button type="button" class="btn btn-primary btn-block btn-user">
      <i class="fa fa-plus"></i> Adicionar Membro
    </button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th class="text-right">Ações</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |item|}}
        <tr>
          <td>
            <img id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://www.samservicos.com.br/wp-content/uploads/2015/11/sem-imagem-avatar.png" style="width: 50px;height: 50px;" class="rounded-circle">
          </td>
          <td class="align-middle">{{item.name}}</td>
          <td class="align-middle">{{item.email}}</td>
          <td class="align-middle">{{item.phone}}</td>
          <td class="align-middle">
            {{#if (and item.address item.number item.neighborhood)}}
              {{concatenate item.address ', ' item.number ' - ' item.neighborhood}}
            {{else}}
              {{item.address}}
            {{/if}}
          </td>
          <td class="text-right align-middle">
            <button type="button" class="btn btn-outline-dark btn-sm">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
